.paragraph_style {
    color: rgb(57, 90, 71);
    font-family: 'BritannicBold', 'Britannic Bold';
    font-size: 65px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 78px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(53, 93, 88);
    font-family: 'Seravek';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    padding: 2px;
}
.paragraph_style_2 {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    color: rgb(0, 0, 0);
    font-family: '.HelveticaNeueDeskInterface-Regular', '.Helvetica Neue DeskInterface';
    font-size: 7px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 8px;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.style_SkipStroke_6 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_7 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_8 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_9 {
    background: rgb(255, 255, 255);
    opacity: 1.00;
}
.style_External_115_14 {
    position: relative;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 2px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(173, 123, 18);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_580_260 {
    position: relative;
}
.Normal_External_406_86 {
    position: relative;
}
.Style_2_SkipStrokeSkipFillSkipOpacity {
}
.Style_3_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.Style_4_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.Style_5_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.Style_6_SkipStroke {
    background: transparent url(texture3-small.jpg) repeat scroll top left;
    opacity: 1.00;
}
.Title {
    color: rgb(149, 138, 110);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_115_14 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(251, 250, 247);
    opacity: 1.00;
}
.graphic_shape_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_layout_style_default_External_100_100 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_92_92 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
a {
    color: rgb(173, 123, 18);
    text-decoration: none;
}
a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
#widget1 a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
#widget0 a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
#widget1 a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget3 a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
#widget2 a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
#widget3 a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget4 a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
#widget4 a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
#widget0 a {
    color: rgb(173, 123, 18);
    text-decoration: none;
}
#widget1 a {
    color: rgb(173, 123, 18);
    text-decoration: none;
}
#widget0 a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
#widget2 a {
    color: rgb(173, 123, 18);
    text-decoration: none;
}
#widget2 a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget3 a {
    color: rgb(173, 123, 18);
    text-decoration: none;
}
#widget4 a {
    color: rgb(173, 123, 18);
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
